body {font-family: Arial, Helvetica, sans-serif;
		
    }

#container {
width: 70%;
max-width: 800px;
           margin: auto;
		   padding: 1em;
		  box-shadow: 2px 2px 5px #000000;
		  background-image: url(images/logo_bg.jpg);
         background-repeat: no-repeat;
		 background-attachment:fixed;
         background-position:center; 
		}

hr {background-color: #104e8b;
   height: .3em;
   }   

footer{background-color: #104e8b;
			  color: #ffffff;
			  margin: 0;
			  padding: .3em;
			 font-style: italic;}
			 
header {background-color: #ffffff;
	   padding: 1em;
	 }

header img{float: right;}	 


	   
nav {background-color: #104e8b;
    height: 5%;
	text-align: center;
    font-weight: bold;
	padding: .5em;
	
	 }

nav ul li {display: inline; 
    
        } 
		
nav ul  a{padding: 1.5em;
      color: #ffffff;
		text-decoration: none;
			
		}	 

#coolers {margin: 0;
		 padding: 0;
		 }
		
#coolers ul li {list-style-type: none;
			}

#coolers figure { box-shadow: 2px 2px 5px #000000;
				float: left;
				padding: 0px;	
			    margin: .5em;
				}
				
				
#coolers img {height:auto;
        width:100%;
		}		
 
#coolers figcaption { text-align: center;
                 }
				 
#coolers figcaption  a, .wireframe a{color: #000000;
				  
     }	  

	 
#agenda 	{clear: both;
         margin: 2em auto 2em;
        }		

table {width: 80%;
  
	
	}
		
th {background-color: #104e8b;
   color: #ffffff;
   font-weight: 600;
   padding: 5px;
   height: 3em;}
		  
td {border: 1px solid #000000;
   background-color: #ffffff;
   padding: 15px;
   min-width: 5em;
   }   

dl {padding: 2em;}

dt {font-weight: bold;
   padding-top: 1em;}   
   
   
footer {padding: 1em;}

footer  a{font-size: .8em;
      padding: 3em;
	  color: #7ac5cd;}
   

  
   
   